#mainDiv{
	background-color:rgba(210,206,200,1);
}

div.allBody{
	/* width:1900px; */
	height: auto;
	margin: 0px auto;
}

#h2ID1{
	text-align:center;
	/* border:1px solid black; */
	/* width: 350px; */
}

#h2ID{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	/* border:1px solid black; */
	/* width: 350px; */
}

input{
	color:blue;
	cursor:pointer;
}

.column {
  float: left;
  width: 30.00%;
 /*  padding: 8px;
  height: 50px;  *//* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul.ExecutionTimeDetails{
	display: inline-block;
	margin-top: -120px;
	float:right;
	margin-right:155px;
	/* font-size:155% */
}

ul.testCaseDetails{
	margin-left:120px;
	line-height: 1.5em;
	/* font-size:135% */
}
img.projectLogo{
	margin-top: -20px;
	margin-right: 200px;
	float:right;
	height:50px;
	/* width:50px; */
}

img.companyLogo{
	margin-top: -20px;
	margin-left: 80px;
	float:left;
	height:50px;
	@media only screen and (max-width: 480px);
}

img.seleniumImage{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:50px;
	/* margin-right: 635px;
	height:150px;
	width:150px;
	max-width:320px; */
}
input.android{
	margin-left:800px;
}
input.ios{
	margin-left:100px;
}
#detailReport{
	font-size:150%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana;
	/* width:350px; */
	table-layout:auto;
}

.tableClass{
	float:right;
	margin-right:200px;
}

#myTable{
	border: 1px solid black;
	/* width: 1800px; */
	margin-left: 30px;
}

#detailedTable{
	table-layout:auto;
	border: 1px solid black;
	/* width: 1800px; */
	margin-left: 20px;
	display:none;
}

td{
	table-layout:auto;
	word-break:break-all;
	padding:10px;
	border:1px solid black;
	margin-left: 25px;
	/* width:1800px; */
	text-align:left;
	font-size:16px;
}
tr:hover{
	background-color:rgba(138,138,225,0.4);
}

.tablinks{
	margin-left:25px;
	/* font-size:22px; */
}

.modal{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0);
	background-color:rgba(0,0,0,0.7);
}
/* Close Button */
.close{
	position:absolute;
	top:15px;
	right:35px;
	color:#f1f1f1;
	font-size:40px;
	font-weight:bold;
	transition:0.3s;
}
.close:hover,
.close:focus{
	color:#bbb;
	text-decoration:none;
	cursor:pointer;
}

.modal-content{
	margin:auto;
	display:block;
	width:80%;
	/* max-width:1800px; */
}

#chartContainer,
#iOSchartContainer{
	height:300px;
	width:30%;
	margin-left:650px;
	margin-bottom:-350px;
	margin-top:50px;
	border:1px solid black;
	display:none;
}

#designTeam{
	color: rgb(0,0,255);
	float:right;
	margin-top:220px;
	margin-bottom:-180px;
	margin-right:50px;
}