body {

}
h1,h2 {
color: blue;
border:3px solid green;
margin:10px;
}
.paragraph1{
color: red;
text-decoration:underline;
font-size: 25px;
font-family: Arial;
font-weight:bold;
}
.paragraph2{
color: red;
font-size: 30px;
font-family: TimesNewRoman;
font-weight:bolder;
font-style:italic;
}

.paragraph3{
//background-color: rgb(107,133,148);
font-size: 20px;
font-family: Vendana;
font-weight:lighter;
line-height: 1.5em;
margin-left:20px;
padding:10px;
float:left;
cursor: pointer;
}

.myImage{
display:block;
font-size: 20px;
font-family: Vendana;
font-weight:lighter;
width:300px;
float:left;
padding:10px;
border:1px solid black;
}